In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
my_filepath = "dataset/dc-wikia-data.csv"
my_data = pd.read_csv(my_filepath, index_col="page_id")
my_data.head(3)

,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
page_id,,,,,,,,,,,,
1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0

In [3]:
#работа с id
my_data["ID"] = my_data["ID"].fillna("Identity Unknown")
my_data["ID"] = my_data["ID"].replace("Identity Unknown", "Unknown Identity")
my_data["ID"] = my_data["ID"].apply(lambda x: x.split()[0])

In [4]:
my_data["ALIGN"] = my_data["ALIGN"].fillna("Unknown Unknown")
my_data["ALIGN"] = my_data["ALIGN"].apply(lambda x: x.split()[0])

In [5]:
my_data.loc[my_data[my_data["EYE"] == 'Auburn Hair'].index, "HAIR"] = my_data.loc[my_data[my_data["EYE"] == 'Auburn Hair'].index, "EYE"]

In [6]:
my_data["EYE"] = my_data["EYE"].fillna("Unknown Eyes")
my_data["EYE"] = my_data["EYE"].replace("Auburn Hair", "Unknown Eyes")
my_data["EYE"] = my_data["EYE"].apply(lambda x: x.split()[0])

In [7]:
my_data["HAIR"] = my_data["HAIR"].fillna("Unknown Hair")
my_data["HAIR"] = my_data["HAIR"].replace("Reddish Brown Hair", "Brown Hair")
my_data["HAIR"] = my_data["HAIR"].replace("Platinum Blond Hair", "Blond Hair")
my_data["HAIR"] = my_data["HAIR"].apply(lambda x: x.split()[0])

In [8]:
my_data["SEX"] = my_data["SEX"].fillna("Unknown Characters")
my_data["SEX"] = my_data["SEX"].apply(lambda x: x.split()[0])

In [9]:
my_data["ALIVE"] = my_data["ALIVE"].fillna("Unknown Characters") 
my_data["ALIVE"] = my_data["ALIVE"].apply(lambda x: x.split()[0])

In [10]:
my_data["GSM"] = my_data["GSM"].fillna("Unknown Characters")
my_data["GSM"] = my_data["GSM"].apply(lambda x: x.split()[0])
my_data["GSM"].unique()

array(['Unknown', 'Bisexual', 'Homosexual'], dtype=object)

In [11]:
import numpy as np
def get_month(text):
    if type(text) == np.nan:
        return "Unknown"
    elif type(text) != str:
        return "Problem"

    split_text = text.split(",")
    if len(split_text) == 2:
        return split_text[1]
    else:
        return "Unknown"
        

my_data["MONTH"] = my_data["FIRST APPEARANCE"].map(lambda x: get_month(x))

my_data = my_data.drop("FIRST APPEARANCE", axis=1)

In [12]:
def get_supername(text):
    if type(text) == np.nan:
        return "Unknown"
    elif type(text) != str:
        return "Problem"

    split_text = text.split("(")
    if len(split_text) == 2:
        return split_text[0]
    else:
        return "Unknown"
    
my_data["supername"] = my_data["name"].map(lambda x: get_supername(x))

In [13]:
def get_humanname(text):
    if type(text) == np.nan:
        return "Unknown"
    elif type(text) != str:
        return "Problem"

    split_text = text.split("(")
    if len(split_text) == 2:
        return split_text[1][:-1]
    else:
        return "Unknown"
    
my_data["humanname"] = my_data["name"].map(lambda x: get_humanname(x))

In [14]:
excepciton_in_name = my_data[my_data["supername"] == "Unknown"]
my_data = my_data.drop(excepciton_in_name.index)

In [15]:
my_data = my_data.reindex(columns=[
        'supername', 'humanname', 'urlslug', 'ID', 'ALIGN', 'EYE', 'HAIR', 'SEX', 'GSM', 'ALIVE',
        'APPEARANCES', 'YEAR', 'MONTH'
        ])

In [16]:
my_data.shape

(6873, 13)

In [17]:
my_data.head()

,supername,humanname,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,YEAR,MONTH
page_id,,,,,,,,,,,,,
1422,Batman,Bruce Wayne,\/wiki\/Batman_(Bruce_Wayne),Secret,Good,Blue,Black,Male,Unknown,Living,3093.0,1939.0,May
23387,Superman,Clark Kent,\/wiki\/Superman_(Clark_Kent),Secret,Good,Blue,Black,Male,Unknown,Living,2496.0,1986.0,October
1458,Green Lantern,Hal Jordan,\/wiki\/Green_Lantern_(Hal_Jordan),Secret,Good,Brown,Brown,Male,Unknown,Living,1565.0,1959.0,October
1659,James Gordon,New Earth,\/wiki\/James_Gordon_(New_Earth),Public,Good,Brown,White,Male,Unknown,Living,1316.0,1987.0,February
1576,Richard Grayson,New Earth,\/wiki\/Richard_Grayson_(New_Earth),Secret,Good,Blue,Black,Male,Unknown,Living,1237.0,1940.0,April